# MongoDB Configuration
MONGO_ROOT_USER=<user>
MONGO_ROOT_PASSWORD=<password>
MONGO_DATABASE=todo-db
MONGO_PORT=27017
MONGO_HOST=todo-mongo-db

# Mongo Express Configuration
ME_PORT=8081

# Volumes (Linux)
MONGO_VOLUME_PATH=/home/<your-user>/docker/my-projects/todo/mongo/data